.app-container {
   margin: 3em 10em 5em 10em;
   padding: 0;
}


.form-person {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    margin-bottom: 2em;
    border-color: black;
    border-style: solid;
    flex-wrap: wrap;
}

.form-person > div {
    margin-top: 1em;
}

.form-person input {
    margin-top: 0.5em;
}

.form-person button{
   margin-bottom: 1em;
   align-self: flex-end;
}

.persons-container {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-bottom: 5em;
    border-color: black;
    border-style: solid
}