<div class="app-container">
  <div class="form-person-container">
    <form (ngSubmit)="onAddSubmit()"> 
      <!-- TODO: show error when required fields are not typed and disable button-->
      <label for="name">Nimi*</label>
      <input type="text" class="form-person" id="name" required
      [(ngModel)]="person.name" name="name">
      
      <label for="dateOfBirth">Syntymäpäivä*</label>
      <input type="date" class="form-person" id="dateOfBirth" required
      [(ngModel)]="person.dateOfBirth" name="dateOfBirth">
      
      <label for="nationality">Kansalaisuus*</label>
      <input type="text" class="form-person" id="nationality" required
      [(ngModel)]="person.nationality" name="nationality">
      
      <label for="language">Äidinkieli*</label>
      <input type="text" class="form-person" id="language" required
      [(ngModel)]="person.language" name="language">
      
      <label for="ssn">Henkilötunnus*</label>
      <input type="text" class="form-person" id="ssn"
      [(ngModel)]="person.ssn" name="ssn">
      
      <label for="address">Osoite</label>
      <input type="text" class="form-person" id="address" 
      [(ngModel)]="person.address" name="address">
      
      <label for="dateOfDeath">Kuolinpäivä</label>
      <input type="date" class="form-person" id="dateOfDeath"
      [(ngModel)]="person.dateOfDeath" name="dateOfDeath">
      
      <button>Lisää uusi henkilö</button>

    </form>
  </div>

  <div class="persons-container">
    @for (person of persons; track person.id) {

      @if (modifying) 
      {
         <!-- TODO: show error when required fields are not typed and disable button-->
        <form (ngSubmit)="onModifySubmit(person.id)">
          <label for="name">Nimi*</label>
          <input type="text" class="form-person" id="name" required
          [(ngModel)]="person.name" name="name">
          
          <label for="dateOfBirth">Syntymäpäivä*</label>
          <input type="date" class="form-person" id="dateOfBirth" required
          [(ngModel)]="person.dateOfBirth" name="dateOfBirth">
          
          <label for="nationality">Kansalaisuus*</label>
          <input type="text" class="form-person" id="nationality" required
          [(ngModel)]="person.nationality" name="nationality">
          
          <label for="language">Äidinkieli*</label>
          <input type="text" class="form-person" id="language" required
          [(ngModel)]="person.language" name="language">
          
          <label for="ssn">Henkilötunnus*</label>
          <input type="text" class="form-person" id="ssn"
          [(ngModel)]="person.ssn" name="ssn">
          
          <label for="address">Osoite</label>
          <input type="text" class="form-person" id="address" 
          [(ngModel)]="person.address" name="address">
          
          <label for="dateOfDeath">Kuolinpäivä</label>
          <input type="date" class="form-person" id="dateOfDeath"
          [(ngModel)]="person.dateOfDeath" name="dateOfDeath">
          
          <button>Lisää uusi henkilö</button>
        </form>

        <button (click)="cancelModify()">Peruuta</button>

      } @else {
        
        <li>
          Tunniste {{ person.id }}
          Nimi  {{ person.name }}
          Syntymäpäivä {{ person.dateOfBirth }}
          Kansalaisuus {{ person.nationality }}
          Äidinkieli {{ person.language }}
          Henkilötunnus {{ person.ssn }}
          Osoite {{ person.address }}
          Kuolinpäivä {{ person.dateOfDeath }}

          <button (click)="startModify()">Muokkaa</button>
        </li>

      }

      <button (click)="removePerson(person.name, person.id)">Poista</button>
    }
   
  </div>
<div>
<router-outlet />