
  <div class="form-person-container">
    <form (ngSubmit)="onSubmit()"> 
      <!-- TODO: show error when required fields are not typed and disable button-->
      Nimi*
      <input type="text" class="form-person" id="name" required
      [(ngModel)]="person.name" name="name">
      Syntymäpäivä*
      <input type="date" class="form-person" id="dateOfBirth" required
      [(ngModel)]="person.dateOfBirth" name="dateOfBirth">
      Kansalaisuus*
      <input type="text" class="form-person" id="nationality" required
      [(ngModel)]="person.nationality" name="nationality">
      Äidinkieli*
      <input type="text" class="form-person" id="language" required
      [(ngModel)]="person.language" name="language">
      Henkilötunnus
      <input type="text" class="form-person" id="ssn"
      [(ngModel)]="person.ssn" name="ssn">
      Osoite
      <input type="text" class="form-person" id="address" 
      [(ngModel)]="person.address" name="address">
      Kuolinpäivä
      <input type="date" class="form-person" id="dateOfDeath"
      [(ngModel)]="person.dateOfDeath" name="dateOfDeath">
      <button>Lisää uusi henkilö</button>
      
    </form>
  </div>

  <div class="persons-container">
    @for (person of persons; track person.id) {
      <li>
        Nimi  {{ person.name }}
        Syntymäpäivä {{ person.dateOfBirth }}
        Kansalaisuus {{ person.nationality }}
        Äidinkieli {{ person.language }}
        Henkilötunnus {{ person.ssn }}
        Osoite {{ person.address }}
        Kuolinpäivä {{ person.dateOfDeath }}
      </li>
    }
   
  </div>
<router-outlet />